@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
body {
  font-family: "Montserrat";
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.row {
  --bs-gutter-x:0 ;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.ui-blog {
  padding: 100px 0;
}
.ui-blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.ui-blog-content h1 {
  text-shadow: 1px 4px 4px rgba(223, 65, 65, 0.5);
  color: #6f0303;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 700;
}
.ui-blog-content h3 {
  color: #808080;
  font-weight: 600;
  text-align: left;
  font-size: 24px;
  margin-bottom: 30px;
}
.ui-blog-content .card {
  position: relative;
}
.ui-blog-content .card::after {
  content: " ";
  height: 0;
  background: white;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  position: absolute;
  z-index: 1;
}
.ui-blog-content .card:hover::after {
  height: 100%;
  background-color: rgba(90, 25, 26, 0.7254901961);
}
.ui-blog-content .card:hover .card-content {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  align-items: self-start;
}
.ui-blog-content .card:hover h3 {
  animation: fadeInUp 0.8s ease-out forwards;
  color: #000;
  width: 100%;
}
.ui-blog-content .card:hover p {
  display: block;
  animation: fadeInUp 0.8s ease-out forwards;
}
.ui-blog-content .card:hover a {
  animation: fadeInUp 0.8s ease-out forwards;
  display: block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.253);
}
.ui-blog-content .card:hover a:hover {
  background-color: rgba(255, 255, 255, 0.824);
  color: #880305;
  font-weight: 500;
}
.ui-blog-content .card-img {
  position: relative;
  background-color: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui-blog-content .card-img img {
  width: 100%;
  height: 100%;
}
.ui-blog-content .card-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 10px;
  z-index: 2;
  padding: 10px;
  width: 100%;
}
.ui-blog-content .card-content h3 {
  font-size: 16px;
  margin: 0;
  color: #000;
  transition: 400ms;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
}
.ui-blog-content .card-content p {
  display: none;
  color: white;
  transition: 400ms;
  margin: 0;
  font-weight: 500;
}
.ui-blog-content .card-content a {
  color: white;
  border: 1px solid;
  border-radius: 8px;
  font-size: 14px;
  padding: 5px 15px;
  display: none;
  transition: 400ms;
  font-weight: 500;
}
@media (max-width: 992px) {
  .ui-blog {
    padding: 70px 0;
  }
  .ui-blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .ui-blog-content h1 {
    font-size: 28px;
  }
  .ui-blog-content h3 {
    font-size: 20px;
  }
  .ui-blog-content .card-content h3 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .ui-blog {
    padding: 70px 0;
  }
  .ui-blog-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .ui-blog-content h1 {
    font-size: 28px;
  }
  .ui-blog-content h3 {
    font-size: 20px;
  }
  .ui-blog-content .card-content h3 {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .ui-blog {
    padding: 40px 0;
  }
  .ui-blog-content h1 {
    font-size: 20px;
  }
  .ui-blog-content h3 {
    font-size: 16px;
  }
  .ui-blog-content .card-content h3 {
    font-size: 16px;
  }
}/*# sourceMappingURL=Blog.css.map */