@import '../../assets/styles/variables.scss';
@import '../../assets/styles/main.scss';

@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(40px); }
  100% { opacity: 1; transform: translateY(0); }
}


.ui-blog{
    padding: 100px 0;
    &-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
    }
    
    &-content{
       h1{
        text-shadow: 1px 4px 4px rgba(223, 65, 65, 0.5);
         color: $dark-red;
         font-size: $font-size-heading1;
         margin-bottom: 15px;
         font-weight: 700;
    }
    h3{
        color: $gray;
        font-weight: 600;
        text-align: left;
        font-size: $font-size-lg;
        margin-bottom: 30px;

    }
        .card{
            position: relative;
            &::after{
                content: " ";
                height: 0;
                background: white;
                width: 100%;
                bottom: 0;
                left: 0;
                transition:all 0.3s ease;
                position: absolute;
                z-index: 1;
             }
            &:hover{
                &::after{
                    height: 100%;
                    background-color: #5a191ab9;
                }
                .card-content{
                    height: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    bottom: 0;
                    align-items:self-start;
                }
                h3{
                    animation: fadeInUp 0.8s ease-out forwards;
                    color: $black;
                    width: 100%;
                }
                p{
                    display: block;
                    animation: fadeInUp 0.8s ease-out forwards;
                }
                a{
                    animation: fadeInUp 0.8s ease-out forwards;
                    display: block;
                    text-align: center;
                    background-color: rgba(255, 255, 255, 0.253);
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.824);
                        color: $red;
                        font-weight: 500;
                    }
                }
            }
            
            &-img{
                position: relative;
            background-color: black;
            overflow: hidden;

                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
                    
                }
            }
           &-content{
            position: absolute;
            display: flex;
            flex-direction: column;
            bottom: 10px;
            z-index: 2;
            padding: 10px;
            width: 100%;

            
            h3{
                font-size: $font-size-heading6;
                margin: 0;
                color: $black;
                transition: 400ms;
                background-color: $white;
                padding: 8px;
                border-radius: 8px;
            }
            p{
                display: none;
                color: $white;
                transition: 400ms;
                margin: 0;
                font-weight: 500;
            }
            a{
                color: $white;
                border: 1px solid ;
                border-radius: 8px;
                font-size: $font-size-sm;
                padding: 5px 15px;
                display: none;
                transition: 400ms;
                font-weight: 500;
            }
           }
    }
    }
    
    @media(max-width: 992px){
        padding: 70px 0;
         &-grid{
             grid-template-columns: repeat(2, 1fr); 
         }
        
        &-content{
             h1{
                 font-size: $font-size-heading3;
             }
             h3{
                 font-size: $font-size-heading5;
             }
             .card{
                &-content{
                    h3{
                        font-size: $font-size-heading6;
                    }

                }
             }
        }
    }
   

    @media(max-width: 768px){
        padding: 70px 0;
         &-grid{
             grid-template-columns: repeat(1, 1fr); 
         }
        
        &-content{
             h1{
                 font-size: $font-size-heading3;
             }
             h3{
                 font-size: $font-size-heading5;
             }
             .card{
                &-content{
                    h3{
                        font-size: $font-size-heading5;
                    }

                }
             }
        }
    }
    
    @media(max-width: 576px){
        padding: 40px 0; 
     
        &-content{
             h1{
                 font-size: $font-size-heading5;
             }
             h3{
                 font-size: $font-size-heading6;
             }
             .card{
                &-content{
                    h3{
                        font-size: $font-size-heading6;
                    }

                }
             }
        }
    }
}