@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
body {
  font-family: "Montserrat";
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.row {
  --bs-gutter-x:0 ;
}

.ui-banner {
  width: 100%;
}
.ui-banner .swiper-button-next::after,
.ui-banner .swiper-button-prev::after {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.ui-banner .swiper-button-next:hover::after,
.ui-banner .swiper-button-prev:hover::after {
  background-color: #880305;
}
.ui-banner-slide {
  width: 100%;
  aspect-ratio: 1492/550;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 60px;
  position: relative;
}
.ui-banner-slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.6) 35%, rgba(208, 16, 19, 0.317) 70%, rgba(118, 4, 6, 0.9) 100%);
}
.ui-banner-overlay {
  position: relative;
  max-width: 600px;
  color: #fff;
}
.ui-banner-overlay h2 {
  font-size: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  line-height: 1.2;
}
.ui-banner-overlay p {
  font-size: 24px;
  opacity: 0.9;
  margin-bottom: 20px;
}
.ui-banner-overlay::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #6f0303;
  margin-top: 10px;
  border-radius: 2px;
}
@media (max-width: 992px) {
  .ui-banner-slide {
    padding: 30px;
  }
  .ui-banner-overlay h2 {
    font-size: 28px;
  }
  .ui-banner-overlay p {
    font-size: 14px;
  }
  .ui-banner .swiper-button-next::after,
  .ui-banner .swiper-button-prev::after {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .ui-banner-overlay h2 {
    font-size: 20px;
  }
  .ui-banner-overlay p {
    font-size: 12px;
  }
  .ui-banner .swiper-button-next::after,
  .ui-banner .swiper-button-prev::after {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .ui-banner-slide {
    padding: 20px;
  }
  .ui-banner-overlay h2 {
    font-size: 16px;
  }
  .ui-banner-overlay p {
    font-size: 10px;
  }
  .ui-banner .swiper-button-next::after,
  .ui-banner .swiper-button-prev::after {
    font-size: 10px;
    padding: 8px 5px;
  }
}/*# sourceMappingURL=HeroSection.css.map */