@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/main.scss';

.ui-banner {
  width: 100%;
  .swiper-button-next::after,
  .swiper-button-prev::after {
  font-size: 30px;   
  font-weight: 700;
  color: #fff;
  transition: 400ms;
  border-radius: 8px;
  background-color: $background-color-red-2;
  padding: 10px 8px;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: $red;
  background-color: $background-color-light;
}

  &-slide {
    width: 100%;
    height:auto;
    aspect-ratio: 1492 / 550;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
    &-overlay {
      margin: 20px;
      text-align: center;
      width: fit-content;
      height: auto;
      color: #fff;
      background-color: $background-color-red-2;
      border-radius: 8px;

      h2 {
        font-size: $font-size-heading1;
        margin: 0;
      }

      p {
        font-size: $font-size-lg;
        margin: 0;
      }
    }
    @media (max-width: 992px){
        &-overlay{
            h2{
                font-size: $font-size-heading3;
            }
            p{
                font-size: $font-size-sm;
            }
        }
       .swiper-button-next::after,
       .swiper-button-prev::after {
          font-size: 25px;     
        }
  
    }
    @media(max-width: 768px){
        h2{
         font-size: $font-size-heading5;
        }
        p{
            font-size: $font-size-xs;
        }
      .swiper-button-next::after,
      .swiper-button-prev::after {
          font-size: 20px;     
        }
    }
      @media(max-width: 576px){
        h2{
         font-size: $font-size-heading6;
        }
        p{
            font-size: $font-size-xxs;
        }
         .swiper-button-next::after,
         .swiper-button-prev::after {
          font-size: 10px; 
          padding: 8px 5px;    
        }
    }

}

