@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
body {
  font-family: "Montserrat";
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.row {
  --bs-gutter-x:0 ;
}

.ui-header {
  background-color: white;
}
.ui-header-slogan {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.ui-header-slogan-text {
  font-size: 14px;
  background-color: #880305;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 8px;
  margin: 0;
  color: white;
}
.ui-header-logo {
  width: 50px;
}
@media (max-width: 992px) {
  .ui-header-slogan {
    justify-content: center;
  }
  .ui-header-slogan-text {
    font-size: 16px;
  }
  .ui-header-logo {
    width: 50px;
    margin: 5px 0 5px 30px;
  }
}
@media (max-width: 768px) {
  .ui-header-slogan {
    background-color: #880305;
  }
  .ui-header-slogan-text {
    font-size: 14px;
  }
  .ui-header-logo {
    width: 40px;
  }
}
@media (min-width: 993px) {
  .ui-header {
    padding: 10px 30px;
  }
}

.ui-navbar-bigScreen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui-navbar-list {
  display: flex;
}
.ui-navbar-listItem {
  color: #000;
  text-decoration: none;
  transition: 300ms;
  display: block;
  border-bottom: 2px solid white;
}
.ui-navbar-listItem:hover {
  color: #880305;
  border-bottom: 2px solid #880305;
}
.ui-navbar-listItem.active {
  color: #880305;
  font-weight: 700;
  border-bottom: 3px solid #880305;
}
.ui-navbar-burger-menu {
  position: relative;
  display: none;
}
.ui-navbar-burger-menu-icon {
  width: 28px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 2;
}
.ui-navbar-burger-menu-icon span {
  height: 3px;
  background: black;
  border-radius: 2px;
  transition: 0.4s;
}
.ui-navbar-burger-menu.open span:nth-child(1) {
  transform: rotate(45deg) translate(7.5px, 6.5px);
}
.ui-navbar-burger-menu.open span:nth-child(2) {
  opacity: 0;
}
.ui-navbar-burger-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7.5px, -6.5px);
}
.ui-navbar .burger-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  padding: 10px;
  background-color: #e7e7e7;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  z-index: 1;
  display: none;
}
.ui-navbar .burger-dropdown li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  display: block;
  padding: 5px;
}
.ui-navbar .burger-dropdown li a:hover {
  color: #880305;
  border-bottom: 2px solid;
}
.ui-navbar .burger-dropdown li a.active {
  color: #880305;
}
@media (max-width: 992px) {
  .ui-navbar-bigScreen, .ui-navbar-list {
    display: none;
  }
  .ui-navbar-burger-menu {
    display: block;
    margin: 10px 30px 10px 0;
  }
  .ui-navbar-burger-menu-icon {
    height: 18px;
  }
  .ui-navbar-burger-menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
  }
  .ui-navbar-burger-menu.open span:nth-child(2) {
    opacity: 0;
  }
  .ui-navbar-burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
  }
  .ui-navbar .burger-dropdown {
    display: block;
    margin: 0 30px;
  }
}
@media (max-width: 768px) {
  .ui-navbar-burger-menu-icon {
    height: 16px;
  }
  .ui-navbar-burger-menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
  }
  .ui-navbar-burger-menu.open span:nth-child(2) {
    opacity: 0;
  }
  .ui-navbar-burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -4px);
  }
  .ui-navbar .burger-dropdown {
    top: 75px;
  }
}/*# sourceMappingURL=Navbar.css.map */