@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap');

$font-size-heading1: 40px;
$font-size-heading2: 32px;
$font-size-heading3: 28px;
$font-size-heading4: 24px;
$font-size-heading5: 20px;
$font-size-heading6: 16px;
$font-size-lg: 24px;
$font-size-md: 18px;
$font-size-sm: 14px;
$font-size-xs: 12px; 
$font-size-xxs: 10px; 
$red: #880305;
$dark-red:  #6f0303 ;
$cream-vanilla: #efe6de;
$cream-vanilla-dark: #d3c7be;
$gray: #808080;
$dark-gray: #706e6e;
$aliceblue: aliceblue;
$light-gray: #e7e7e7;
$black: #000;
$white: white;
$font-montserrat: "Montserrat";
$box-shadow: 0.5rem 0.5rem rgba($gray, .15);
$box-shadow-hover: rgba(0, 0, 0, 0.45) 10px 25px 30px -20px;
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
$box-shadow-lg: 0 1rem 3rem rgba($black, .175);
$box-shadow-inset: inset 0 1px 2px rgba($black, .075);
$primary-color: #007bff; 
$secondary-color: #6c757d; 
$text-color: #343a40; 
$light-text-color: #abadb0; 
$background-color-light: #f8f9fa; 
$background-color-red: #87030579;
$background-color-red-2: #620709b0;
$background-color-white: #ffffffb0;
$background-color-dark: #e9ecef; 
$border-color: #ced4da; 
$focus-color: #80bdff; 