@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap");
body {
  font-family: "Montserrat";
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.row {
  --bs-gutter-x:0 ;
}

.ui-faq {
  padding: 80px 0;
  background-color: #f8f9fa;
}
.ui-faq .container {
  margin: 0 auto;
}
.ui-faq-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #6f0303;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px rgba(252, 89, 89, 0.5);
}
.ui-faq-list {
  border-radius: 8px;
  overflow: hidden;
}
.ui-faq-item {
  background-color: #f8f9fa;
  border-bottom: 1px solid #6f0303;
  transition: 700ms;
}
.ui-faq-item:hover {
  background-color: white;
}
.ui-faq-item.open {
  background-color: white;
}
.ui-faq-question {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  color: #706e6e;
}
.ui-faq-toggle-icon {
  font-size: 24px;
  font-weight: 500;
  color: #6f0303;
  transition: transform 600ms ease;
}
.ui-faq-answer {
  padding: 0 20px 20px;
  color: #808080;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 600ms ease-out;
}
.ui-faq-answer p {
  margin: 0;
}
.ui-faq-item.open .ui-faq-answer {
  max-height: 200px;
  padding: 20px 10px;
  opacity: 1;
  border-top: 1px solid #6f0303;
  border-top-style: dashed;
  font-size: 18px;
}
@media (max-width: 768px) {
  .ui-faq-heading {
    font-size: 28px;
  }
  .ui-faq-question {
    font-size: 18px;
  }
  .ui-faq-item.open .ui-faq-answer {
    padding: 15px 10px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .ui-faq {
    padding: 50px 0;
  }
  .ui-faq-heading {
    font-size: 20px;
  }
  .ui-faq-question {
    font-size: 14px;
  }
  .ui-faq-item.open .ui-faq-answer {
    padding: 10px 5px;
    font-size: 12px;
  }
}/*# sourceMappingURL=FAQSection.css.map */